doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title People
  style
    include ../../node_modules/bootstrap/dist/css/bootstrap.min.css
    include ../../public/css/listPeople.css
  script.
    const openPutForm = (name, age, id) => {
      document.getElementById("putForm").style.display = "block";
      document.getElementById("pageContent").style.opacity = 0.5;
      document.getElementById("putFormContainer").action = `/people/${id}?_method=PUT`;
      document.getElementById("nameInpt").value = name;
      document.getElementById("ageInpt").value = age;
    }
  script.
    const closePutForm = () => {
    document.getElementById("putForm").style.display = "none"
    document.getElementById("pageContent").style.opacity = 1;
    }
  script.
    const openPostForm = () => {
      document.getElementById("postForm").style.display = "block";
      document.getElementById("pageContent").style.opacity = 0.5;
    }
  script.
    const closePostForm = () => {
      document.getElementById("postForm").style.display = "none";
      document.getElementById("pageContent").style.opacity = 1;
    }
  script.
    const openGetForm = (name, age, id) => {
      document.getElementById("getForm").style.display = "block";
      document.getElementById("pageContent").style.opacity = 0.5;
      document.getElementById("getFormContainer").action = `/people/${id}`;
      document.getElementById("nameGot").innerHTML = name;
      document.getElementById("ageGot").innerHTML = age;
    }
  script.
    const closeGetForm = () => {
      document.getElementById("getForm").style.display = "none";
      document.getElementById("pageContent").style.opacity = 1;
    }
  script
    include ../../node_modules/jquery/dist/jquery.min.js
    include ../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js

// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#page-top')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item.active
          a.nav-link(href='/people') People
            span.sr-only (current)
// Page Content
.container#pageContent
  .row
    .col-lg-12
      img#mainImage.d-block.img-fluid(src='http://placehold.it/1200x300')
      br
      .row
        each person in data
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href="javascript:void(0);" onclick=`openGetForm('${person.name}', '${person.age}', ${person.id})`)
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='#')
                  =person.name
                b Age:&nbsp
                =person.age
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
              .card-footer
                .card-buttons#cardBtns
                  form#updBtn
                    input(type='button' value='Update Person' onClick=`openPutForm('${person.name}', '${person.age}', ${person.id})`)
                  | &nbsp&nbsp&nbsp
                  form#delBtn(action=`/people/${person.id}?_method=DELETE` method='POST')
                    input(type='hidden' name='_method' value='DELETE')
                    input#btn(type='submit' value='Delete Person')
      .col-lg-12
        center
          input(type='button' value='Add a New Person' onClick='openPostForm()')
          p
.formPopup#putForm
  form#putFormContainer(method='POST')
    center
      h1 Update Person
      label(for="name")
      b Name:
      input#nameInpt(type="text" placeholder="Name" name="name")
      br
      label(for="age")
      b Age:
      input#ageInpt(type="text" placeholder="Age" name="age")
      br
      input(type='hidden' name='_method' value='PUT')
      input(type="submit" value="Update")
      input(type='reset' value='Cancel' onClick='closePutForm()')
.formPopup#postForm
  form#postFormContainer(action='/people/' method='POST')
    center
      h1 Add Person
      label(for="name")
      b Name:
      input#nameInpt(type="text" placeholder="Name" name="name")
      br
      label(for="age")
      b Age:
      input#ageInpt(type="text" placeholder="Age" name="age")
      br
      input(type="submit" value="Create")
      input(type='reset' value='Cancel' onClick='closePostForm()')
.formPopup#getForm
  form#getFormContainer(method='GET')
    center
      h1 Person Info
      label
      b Name:
      label#nameGot
      br
      label
      b Age:
      label#ageGot
      br
      input(type="reset" value="Return" onClick='closeGetForm()')

      // /.row
    // /.col-lg-9
  // /.row
// /.container
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright 2020
  // /.container
